*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    font-family: "poppins";
}
body {
    background-color: rgb(64, 64, 65);
}

.header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin-top: 1.5rem;*/
    padding: 15px;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 3;
    background-color: darkslategray;
    align-items: center;
}
.header-section i {
    cursor: pointer;
    position: fixed;
}
.header-section h3 {
    cursor: pointer;
    color: aqua;
    margin-left: 2rem;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-section h3 span{
    color: yellow;
    font-size: 30px;
}
.header-section.one {
    transform: translate(-50%);
}
.header-section ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7rem;
}
.header-section ul li {
    list-style: none;
    padding-right: 15px;
}
.header-section ul li a {
    text-decoration: none;
    font-size: 18px;
}
.header-section h2:hover {
    color: aqua;
    transition: 0.5s ease-in;
}
.header-section ul li a:hover {
    color: aqua;
    transition: 0.5s ease-in;
    text-decoration: underline;
}
.but-ton {
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 15px;
    align-items: center;
}
.bxs-sun {
    margin-right: 1rem;
    font-size: 19px;
}
.but-ton span {
    font-size: 19px;
}

@media screen and (max-width:555px) {
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        
    }
    .side-nav li {
        background-color: blanchedalmond;
    }
}

/*.unique-btn {
    display: inline-block;
    /*transform: translate(2400%, -90%);
    position: absolute;
    right: 40px;
    position: fixed;
    margin-top: -135px;
    z-index: 3;
}
.unique-btn button {
    border: none;
    cursor: pointer;
}


.bxs-sun {
    border: none;
    padding: 5px;
    border-radius: 50%;
    background-color: #5a5959;
}
.open-bar {
    margin-left: 10px;
}
.open-bar {
    border: 1px solid white;
    cursor: pointer;
    font-size: 19px;
    background-color: transparent;
    position: absolute;
}
.open-bar i {
    color: #949393;
}*/

/***Setting side bar******/
/*****Setting side bar*****
@media screen and ( max-width: 550px) {
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: none;
    overflow-x: hidden;
    transition: 0.5s;    
}
.side-nav li {
    justify-content: flex-end;
}
.side-nav li a {
    padding: 6px 8px 8px 22px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    font-size: 19px;
    text-decoration: none;    
}
#main {
    transition: margin-left .5s;
    padding: 5px;
    color: rgb(58, 58, 58);
    font-size: 10px;
    position: fixed;
    z-index: 2;
    transform: translate(-500%, -320%);
}
}*/


/*****Setting side bar****

@media screen and ( min-width: 751px){
 .close {
    display: none;
 }
 .open-bar {
  display: none;
}

}

@media screen and ( max-width: 750px){
  
 .header-section .links-nav{
    flex-direction: column;
    gap: 10px;
    background-color: rgb(20, 20, 20);
    padding: 1.5rem;
    position: absolute;
    justify-items: end;
    height: 92vh;
    top: -10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 15px;
    right: -90px;
 }
 .header-section ul li {
    background-color: rgb(20, 20, 20);
 }
 .header-section ul li a {
    background-color: transparent;
 }
}
.close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    font-size: 15px;
    font-weight: bold;
    margin-left: -23px;
    cursor: pointer;
}****/
