*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    font-family: "poppins";
}
.header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.header-section h2 {
    cursor: pointer;
    margin-left: 5rem;
    color: aqua;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2.5rem;
    padding-top: 10px;
}
.header-section ul li {
    list-style: none;
    padding-left: 2rem;
    margin-right: 1rem;
}
.header-section ul li a {
    text-decoration: none;
    font-size: 20px;
}
.header-section h2:hover {
    color: aqua;
    transition: 0.5s ease-in;
}
.header-section ul li a:hover {
    color: aqua;
    transition: 0.5s ease-in;
    text-decoration: underline;
}

/*************Home section****************/
.home-section {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.me {
    justify-content: space-between;
    margin-left: 2rem;
}
.me h3 {
    padding-top:  1rem;
    font-size: 15px;
    margin-left: 10px;
}
.me h2 {
    padding-top: 1rem;
    font-size: 26px;
    font-family: lucida sans;
}
.me h4 {
    padding-top: 1rem;
    font-family: lucida sans;
}
.me h4 span {
    display: inline-block;
    position: relative;
    color: transparent;
    font-family: courier new;
    font-size: 23px;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.7px aqua;
    animation: display-text 16s linear infinite; /*creating animation property*/
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}
.me h4 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid aqua;
    color: aqua;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}
.me p {
    padding-top: 1.7rem;
    font-family: cursive;
}
.socials {
    margin-top: 2rem;
    
}
.socials a {
    text-decoration: none;
    padding-right: 2rem;
}
.socials a i {
    font-size: 19px;
    color: aqua;
    border: 1px solid aqua;
    padding: 6px;
    border-radius: 50%;
    transition: 1s;
}
.socials a i:hover {
    background: aqua;
    color: black;
     box-shadow: 0px 0px 5px 5px rgba(78, 242, 248, 0.3);
}
span li {
    list-style: none;
    margin-top: 2.3rem;
    border-radius: 7px;
    
}
span li a {
    border: 0px solid whitesmoke;
    padding: 10px;
    justify-content: space-around;
    border-radius: 10px;
    background-color: aqua;
    color: black;
    box-shadow: 0px 0px 5px 5px rgba(26, 242, 250, 0.3);
    transition: 0.5s;
}
span li a:hover {
    background: transparent;
    color: aqua;
}
.my-image {
    border: 0px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px rgba(26, 242, 250, 0.3);
    margin-top: 1.5rem;
}
.my-image:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}
.my-image img {
    width: 290px;
    height: 295px;
    border-radius: 50%;
    cursor: pointer;
    mix-blend-mode: lighten;
}

/*******About Me*******/
.about {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 3.5rem; 
    margin-right: 3.5rem;
    border: px solid aqua;
    padding: 1rem;
    box-shadow: 0px 0px 10px 10px rgba(26, 242, 250, 0.3);
}
.about-image {
    margin-top: 0.5rem;
    border: 1px solid aqua;
    border-radius: 50%;
    overflow: hidden;
}
.about-image img {
    width: 270px;
    height: 270px;
    border-radius: 15px;
    filter: brightness(60%);
}
.explain {
    margin-top: 0.5rem;
}
.explain h2 {
    padding: 1rem;
    text-align: center;
    color: aqua;
    text-shadow: 9px  9px 10px rgba(92, 240, 227, 0.3);

}
.explain pre {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 100;
}

/******My Services**********/
.my-services {
    margin-top: 9rem;
    
}
.my-services h1 {
    text-align: center;
    color: aqua;
    padding: 5px;
}
.my-services hr {
    background-color: aqua;
    margin-left: 35%;
    margin-right: 35%;
    height: 1px;
}
.my-services hr:hover {
    width: 50px;
    transition: 0.4s;
}
.service-container {
    display: flex;
    justify-content: space-around;
}
.services {
    border: 0px solid whitesmoke;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 200px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(201, 202, 202, 0.3);
}
.services i {
    padding: 10px;
    margin-top:  20px;
    border: 0px solid white;
    border-radius: 50%;
    font-size: 16px;
    background-color: rgba(26, 242, 250, 0.3);
}
.services h2 {
    padding-top: 2rem;
    font-size: 19px;
}
.services p {
    padding-top: 2rem;
    font-size: 12px;
    font-family: arial;
    font-weight: 100;
}